.headroom {
    height: 71px;
    background-color: #ffb74d;
}
/*
background-color: #f9c3ae;
*/
body {
    margin: 0 0 0 0 !important;
    background-color: #e8eaf6;
}
.ms-Panel-main {
    background-color:#e8eaf6 !important;
}

.ms-Nav-compositeLink {
    background-color:#e8eaf6 !important;
}
/*
yeni
background-color: #ede7f6;
yo
background-color:rgb(232, 234, 246)
*/