body {
    margin: 0 0 0 0 !important;
}
.ms-Panel-main {
    background-color:#e8eaf6 !important;
}
.ms-Nav-compositeLink {
    background-color:#e8eaf6 !important;
}
.headroom {
    height: 71px;
    background-color: #ffb74d;
}
/*



yeni
background-color: #ede7f6;
yo
background-color:rgb(232, 234, 246)
*/